{% extend 'rango/base.html' %}

{%load static %}

{% block title_block %}

About Rango
{% endblock %}

{% block body_block %}
<div>
    <p>Rango says...</p>
    <p>Here is the about page.</p>
    <p><strong>This tutorial has been put together by Naser Alrashidi</strong></p>
</div>
<div>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat."/>
</div>
<div>
    <p>You have visited this site {{ visits }} time{{ visits|pluralize }}.</p>
</div>
{% endblock %}
