{% extends 'rango/base.html' %}
{%load static %}
{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}

{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>{{ category.name }}</h1>

    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages currently in category. </strong> 
    {% endif %}
    
    <a href="{% url 'rango:add_page' xcategory.slug %}">Add Page</a><br />
    {% else %}
    The specified category does not exist. 
    {% endif %}
{% endblock %}

{% comment %} 


        <h2><a href="/rango/">Back to Index</a></h2>
        <div>

           
           
            {% if category %}
        
            <h1>{{ category.name }}</h1>
        
            {% if pages %}
            <h2>Pages in this Category:</h2>
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
    
            </ul>
            {% else %}
            <strong>No pages currently in category.</strong>
            {% endif %}
    
        {% else %}
            The specified category does not exist.
        {% endif %}
        </div>
    </body>
    </html>
     {% endcomment %}